.horizontalLine5 {
  width: 18vw;
}

.salaryRangeList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: white;
  font-family: 'Roboto';
  margin-left: 0px;
}

.rangeTitle {
  font-family: 'Roboto';
  color: white;
  font-size: 16px;
}


.employeeTitle {
  font-family: 'Roboto';
  color: white;
  font-size: 16px;
}

.employeeList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: white;
  font-family: 'Roboto';
  margin-left: 0px;
}