.loginContainer {
  background-color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signIn-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272727;
  border-radius: 4px;
  padding: 20px;
  width: 20vw;
  height: 35vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}

.company-Logo {
  width: 130px;
}

.inputElement {
  background-color: transparent;
  border: 1px solid #f8fafc;
  color: white;
  border-radius: 3px;
  height: 3vh;
  width: 12vw;
}

.labelElement {
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
}

.loginBtn {
  padding: 10px 24px;
  background-color: #4f46e5;
  border-width: 0px;
  border-radius: 6px;
  color: white;
  font-family: 'Roboto';
  margin-top: 15px;
}
